body {
    font-family: "Baskervville SC", serif;
    background-color: #af8b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #8f9680;
    padding: 16px;
    border: 2px solid #fdfafadc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 400px;
    text-align: center;
}
.container img {
    width: 100%;
    border-radius: 100%;
}
h1 {
    margin-bottom: 16px;
    color: #0f2753;
    font-style: normal;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 4px;
    flex: 1;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #3aaa23;
    box-shadow: 2px 2px 5px #edeaf1;
    border: solid 2px rgb(124, 151, 175);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #337817;
}

#clear-tasks {
    background-color: #dc3545;
    margin-top: 10px;
}

#clear-tasks:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li:hover {
    background-color: #f1f1f1;
}

.line-through {
    text-decoration: line-through;
    color: rgb(29, 26, 26);
}

.line-through span {
    text-decoration: line-through;
}
